.loginsignup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.container {
    width: 50%; 
    height: fit-content;
    background: white;
    padding: 40px 60px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(168, 218, 220, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 0.5s ease-in-out;
}

.container h1 {
    margin: 20px 0px;
    font-size: 50px;
    color: #A8DADC;
    text-align: center;
}

.fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.fields input {
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    color: black;
    background-color: white !important;
    border-radius: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 18px;
}




.fields input:focus {
    border-color:#A8DADC;
   
    outline: none;
}

.container button {
    width: 100%;
    height: 72px;
    color: white;
    background-color: #A8DADC;
    margin-top: 40px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s;
}

.container button:active {
    background-color: #F28D8D;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(69, 123, 157, 0.2);
}

.login {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.login span {
    color: #A8DADC;
    font-weight: 600;
    cursor: pointer;
}

.login-agree {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
    gap: 10px;
    margin-top: 25px;
}

.error {
    color: red;
    font-size: 20px;
}


@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.95); }
    100% { opacity: 1; transform: scale(1); }
}


@media(max-width: 800px) {
    .container {
        width: 70%;
        padding: 20px 30px;
    }
    .container h1 {
        font-size: 24px;
    }
    .fields {
        margin-top: 20px;
    }
    .fields input {
        height: 50px;
    }
    .container button {
        height: 50px;
        font-size: 16px;
    }
    .login {
        font-size: 16px;
    }
    .login-agree {
        font-size: 14px;
        gap: 10px;
    }
}

@media(max-width: 500px) {
    .container {
        width: 90%;
        padding: 10px 20px;
        margin-top: 30px;
    }
    .container h1 {
        font-size: 22px;
    }
    .fields {
        margin-top: 18px;
    }
    .fields input {
        height: 40px;
    }
    .container button {
        height: 40px;
        font-size: 16px;
    }
    .login {
        font-size: 14px;
    }
    .login-agree {
        font-size: 12px;
        gap: 5px;
    }
}
