
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


.header {
  display: flex;
  align-items: center;
  color: #A8DADC;
  font-weight: bold;
  font-size: xx-large;
}

.header span {
  color: #F28D8D;
  font-weight: bold;
  font-size: xx-large;
}


.navmenu {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  font-size: 20px;
  color: #333;
}

.navmenu .active {
  border-bottom: 2px solid;
}

.navmenu li:hover {
  cursor: pointer;
}


.navright {
  display: flex;
  align-items: center;
  gap: 30px;
}


.navright button {
  font-size: 18px;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #A8DADC;
  color: white;
  text-align: center;
  min-width: 120px;
}

.navright button:active {
  box-shadow: 4px 4px 10px rgba(168, 218, 220, 0.6);
}


.cart {
  position: relative;
  display: flex;
  align-items: center;
}

.cart .dot {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #F28D8D;
  border-radius: 50%;
  top: -8px;
  right: -8px;
  text-align: center;
  color: white;
  font-size: 10px;
  padding: 2px;
}


.navbar-profile {
  position: relative;
  cursor: pointer;
}

 

.nav-profile-dropdown {
  position: absolute;
 
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 160px;
  display: none;
  flex-direction: column;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
 
}





.nav-profile-dropdown li {
  color:#A8DADC;
  font-weight: bold;
}


.nav-dropdown {
  display: none;
}

.nav-dropdown.open {
  transform: rotate(90deg);
}


@media screen and (max-width: 900px) {
  .navbar {
    padding: 12px 20px;
  }

  .header,
  .header span {
    font-size: x-large;
  }

  .navmenu {
    gap: 15px;
    font-size: 18px;
  }

  .navright {
    gap: 20px;
  }

  .navright button {
    padding: 8px 18px;
    font-size: 16px;
  }

  .cart .dot {
    top: -9px;
    right: -12px;
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    padding: 10px;
  }

  .header,
  .header span {
    font-size: large;
  }

  .nav-dropdown {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    object-fit: contain;
    rotate: -90deg;
    transition: 0.5s;
  }

  .cart .dot {
    top: -9px;
    right: -12px;
  }

  .navmenu {
    position: absolute;
    flex-direction: column;
    top: 53px;
    left: -10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-top: 60px;
    gap: 40px;
    width: 150px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background: #A8DADC;
    height: 100vh;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out, visibility 0s 0.5s;
  }

  .navmenu-visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }
}

@media (max-width: 500px) {
  .navbar {
    gap: 0;
  }

  .header,
  .header span {
    font-size: x-large;
  }

  .nav-dropdown {
    height: 25px;
    width: 25px;
  }

  .cart .dot {
    top: -9px;
    right: -12px;
  }
}
