.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
     
    background: white;
      margin-bottom: 1px;
}
.header {
    display: flex;
    align-items: center;
    color: #A8DADC;
    font-weight: bold;
    font-size: xx-large;
}

.header span{
    color:#F28D8D;
    font-weight: bold;
    font-size: xx-large;
}
.logout{
    padding: 10px 10px;
    border-radius: 20px;
    width: 100px;
    border: none;
    outline: none;
    background: #A8DADC;
    color: white;
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .header{
        font-weight: 500;
        font-size: x-large;
    }
    .header span{
        font-weight: 500;
        font-size: x-large;
    }
   
    p{
        font-size: large;
    }
}